</body>
<script src="lib/zepto.js"></script>
<script src="lib/iscroll.js"></script>
<script src="lib/event.js"></script>
<script src="lib/ajax.js"></script>
<script src="lib/form.js"></script>
<script src="lib/touch.js"></script>
<script src="lib/fx.js"></script>
<script src="js/config.js"></script>
<script src="js/base.js"></script>
<script src="js/<%= name %>.js"></script>
</html>
