</div>
    <div class="container">
      <div id="footer">
        <p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
      </div>
    </div>
    <script src="/js/jquery/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>
  </body>
</html>